/* Only for flexbox of index page */
* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

div,
html,
body,
nav,
header,
hgroup,
footer,
section,
article {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainIndex,
.footer {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:480px) {

    .navbar,
    .footer {
        height: 50px;
    }

    .title {
        order: 1;
        flex: 0 0 50%;
    }

    .payoff {
        order: 2;
        flex: 0 0 50%;
    }

    .nav {
        order: 3;
        flex: 0 0 100%;
    }

    .logo {
        display: none;
        visibility: hidden;
    }

    .movie {
        display: none;
        visibility: hidden;
    }

    .aside {
        order: 1;
        flex: 1;
    }

    .prodGroup {
        order: 2;
        flex: 0 0 100%;
    }

    .prod1 {
        order: 3;
        flex: 1;
    }

    .prod2 {
        order: 2;
        flex: 1;
    }

    .prod3 {
        order: 1;
        flex: 1;
    }

    .student {
        order: 1;
        flex: 0 0 100%;
    }

    .cookie {
        order: 2;
        flex: 0 0 100%;
    }
}

@media(min-width:480px) and (max-width:1179px) {
    .footer {
        height: 50px;
    }

    .movie {
        order: 2;
        flex: 1;
        flex: 0 0 100%;
    }

    .aside {
        order: 1;
        flex: 1;
        flex: 0 0 100%;
    }

    .prodGroup {
        flex: 3;
        order: 2;
    }

    .prod1 {
        order: 3;
        flex: 1;
    }

    .prod2 {
        order: 2;
        flex: 1;
    }

    .prod3 {
        order: 1;
        flex: 1;
    }

    .student {
        order: 1;
        flex: 0 0 100%;
    }

    .cookie {
        order: 2;
        flex: 0 0 100%;
    }

    .asideGroup {
        flex: 1;
    }
}

@media(min-width:1180px) {

    .footer {
        height: 50px;
    }

    .movie {
        order: 1;
        flex: 0 0 100%;
    }

    .aside {
        order: 2;
        flex: 1;
    }

    .prodGroup {
        flex: 1;
        order: 2;
    }

    .prod1 {
        order: 3;
        flex: 1;
    }

    .prod2 {
        order: 2;
        flex: 1;
    }

    .prod3 {
        order: 1;
        flex: 1;
    }

    .student {
        order: 1;
        flex: 0 0 100%;
        flex-grow: 2;
    }

    .cookie {
        order: 2;
        flex: 0 0 100%;
        flex-grow: 1;
    }
}