/* General styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, 'Helvetica', sans-serif;
}

.logo {
    margin-top: 0.3125rem;
}

.title {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.payoff {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -50px;
}

.nav li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none
}

li a:hover {
    background-color: #ecf0f1;
    border-bottom: 1px solid;

}

.navbar {
    padding-bottom: 10px;
    background-color: white;
}

.titleArticle {
    font-size: 20px;
    margin-top: 30px;
    border-bottom: 2px solid;
    border-color: #7f8c8d;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.textArticle+section {
    flex: 1 0 0%;
    text-align: left;
}

.imgArticle {
    vertical-align: top;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.textArticle {
    line-height: 30px;
    word-spacing: 3px;
    text-indent: 3px;
}

.footerArticle {
    margin-top: 10px;
}

.moreInfo {
    color: #3498db;
}

.aside h3 {
    margin-left: 60px;
    margin-top: 30px;
    border-bottom: 2px solid #7f8c8d;
    font-size: 20px;

}

.listOfReasons {
    margin-left: 80px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 16px;
}

.footer {
    background-color: #282830;
    color: white;
    padding: 10px;
    margin-top: 20px;
    height: 5em;
}

.cookie {
    position: fixed;
    right: 50px;
    bottom: 20px;
    padding: 10px;
    color: #FFF;
    background-color: #FA0;
    opacity: 0.5;
    z-index: 9999;
    font-family: 'Notable', sans-serif;
    font-size: 8px;
}

.dropbtn,
.dropbtnGrid {
    display: none;
    visibility: hidden;
}

.articleGroup>article {
    padding: 15px;
}

.articleGroup>article p {
    line-height: 25px;
    margin-top: 15px;
}

.articleGroup>article h2 {
    border-bottom: 2px double #3498db;
    border-width: medium;
}

.aside1Solar>a>img {
    width: 200px;

}

.aside2Solar>a>img {
    width: 200px;
}

.aside3Solar>a>img {
    width: 300px;
}

.aside1Solar>a>img,
.aside2Solar>a>img,
.aside3Solar>a>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

table,
td,
td {
    border: 1px solid #7f8c8d;
    border-collapse: collapse;
    padding: 5px;
}

table thead:first-child {
    background-color: #34495e;
    color: white;
}

tbody tr:nth-child(even) {
    background: #CFF;
}

tbody tr:nth-child(odd) {
    background: #FFF;
}

.groupAsideEusolar>aside>a>img {
    width: 300px;
    margin: auto auto;
    display: block;
    margin-top: 100px;
}

.aside1>a:nth-child(1)>img:nth-child(1) {
    width: 400px;
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.form {
    padding: 20px;
}

.form fieldset {
    padding: 20px;
}

.submitButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
}

html body main.mainContact aside.groupAsideContact aside a img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

em {
    color: #008CBA;
    font-style: normal;
}

aside a img:active {
    background-color: #eeeeee;
}

p::first-letter {
    color: #008CBA;
    font-size: 150%;
}

.logo {
    width: 30px;
}

.video {
    width: 100%;
}

.tableEuData>h3:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 5px;
}

.originalVideo {
    color: #3498db;
}

.aside h3{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 278px;
}

.listOfReasons{
    position: fixed;
    top: 40px;
    z-index: -1;
    width: 300px;
}

.sectionAsideIndex{
    position: fixed;
    top: 200px;
    z-index: -1;
}

@media(min-width:480px) and (max-width:1179px) {

    ul {
        margin-top: 0px;
        float: left;
    }

    .aside h3 {
        margin-left: 0px;
        margin-top: 10px;
    }

    .listOfReasons {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .container {
        flex-direction: row-reverse;
    }

    table,
    td,
    td {
        font-size: 12px;
    }

    .groupAsideEusolar>aside>a>img {
        width: 230px;
    }

    .aside1>a:nth-child(1)>img:nth-child(1) {
        width: 230px;
        margin-top: 80px;
    }

    html body main.mainContact aside.groupAsideContact aside a img {
        width: 200px;
    }

    .nav ul {
        float: right;
    }

    body>header>nav>img {
        width: 60px;
    }

    .aside h3{
        z-index: -1;
    }
    
    .listOfReasons{
        z-index: -1;
    }
    
    .sectionAsideIndex{
        position: fixed;
        margin-top: -200px;
        z-index: -1;
        height: 220px;
        width: 330px;
        background-color: white;
        opacity: 0.95;
    }

    .prodGroup{
        z-index: -2;
    }
}




@media(max-width:480px) {

    .navbar {
        margin-top: 10px;
    }

    .title {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: normal;
    }

    .payoff {
        font-size: 90%;
        margin-left: 2px;
    }

    ul {
        display: none;
    }

    .dropbtnGrid,
    .dropbtn {
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 40px;
        margin: auto;
    }

    .dropbtnGrid {
        width: 80%;
        float: right;
        width: 40px;
        margin-right: 20%;
    }



    ul {
        display: none;
        position: absolute;
        margin-top: 40px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    ul li {
        color: black;
        width: 100%;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

    ul li:hover {
        background-color: white;
    }

    li a:hover {
        background-color: white;
    }

    .nav:hover ul {
        display: block;
    }

    .aside h3 {
        margin-left: 0;
    }

    .listOfReasons {
        margin-left: 25px;
    }

    .container {
        display: block;
    }

    .imageSection a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dropbtnGrid,
    .dropbtn {
        display: block;
        visibility: visible;
    }

    table,
    td,
    td {
        font-size: 12px;
    }

    .groupAsideEusolar>aside>a>img {
        width: 150px;
    }

    .aside1>a:nth-child(1)>img:nth-child(1) {
        width: 250px;
    }

    table,
    td,
    td,
    .copyrightinfo {
        font-size: 10px;
    }

    .flexNav ul {
        right: 0px;
    }

    li a:hover {
        border-bottom: 0px;

    }

    .aside h3{
        z-index: -1;
        margin-top: 60px;
    }
    
    .listOfReasons{
        z-index: -1;
        margin-top: 60px;
    }
    
    .sectionAsideIndex{
        position: fixed;
        margin-top: -160px;
        z-index: -1;
        height: 220px;
        width: 330px;
        background-color: white;
        opacity: 0.95;
        
    }

    .prodGroup{
        z-index: -2;
        margin-top: 180px;
    }
}